

body {
  padding-top: 56px;
  font-family: 'Nunito', sans-serif!important;
/*  background-color: #f0f2f5;*/
background-color: #f6f5fb;
  color: #64728c!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-body
{
	padding-left: 100px;
	padding-right: 100px;
}
.navbar
{
	padding: 0px;
}
h1
{
	font-weight: 600;
	line-height: 40px;
	color: #38455d;
}

a
{
	color: #64728c!important;
	font-weight: 500;
	font-size: 14px;
}
footer
{
	text-align: center;
}
table td, .table th {
    padding: .65rem!important;
    vertical-align: top!important;
    border-top: 1px solid #e8eaef!important;
    color: #64728c!important;
    font-size: 12px!important;

}
table
{
	margin-bottom: 0px!important;
}
.color-names
{
 	font-size: 12px;
 	color: #929baa!important;
 	padding-top: 10px;
 	font-weight: 600;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafafc!important;

}

.table-hover tbody tr:hover {
    color: #38455d!important;
    background-color: #F1F2F5!important;
}


.bg-dark {
    background-color: #64728c!important;
}
.rp
{
	padding: 15px;
}
.np
{
	padding: 5px!important;
}
.list-group-item:first-child {
    border-top-left-radius: 1.25rem!important;
    border-top-right-radius: 1.25rem!important;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 1.25rem!important;
    border-bottom-left-radius: 1.25rem!important;
 }
 .list-group-item
 {
 	padding: .55rem 0rem;
 	background-color: transparent;
 	border: none;
 }

.dropdown-container {
    display: none;
    padding-left: 10px;
}

.dropdown-container a{
  display: block;
  padding: 5px;
  padding-left: 15px;
}
.sub-item
{
  font-size: 10px;
}

.navbar
{
	color: gray;
	background: #fff;
	height: 64px;
	border-bottom: 1px solid rgba(207, 211, 222, 0.48);
	-webkit-box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.21); 
    box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.21);
}
.orange-logo
{
	float: left;
	border-radius: 100%;
	height: 45px;
	width: 45px;
	overflow: hidden;
	/*background-color: #ff6500;
    background-image: linear-gradient(90deg,#ff8226 0%,#f35c17 90%);*/
	margin-top: 4px;
/*	padding: 6px;
	padding-top: 5px;*/
}

.title-o
{
	padding-left: 10px;
    margin-top: 12px;
    display: inline-block;
    float: left;
    font-weight: 600;
}

.navbar-brand
{
	padding-top: 0px!important;	
}

.active .nav-link
{
	color: gray!important;
}

.card-img-top
{
    border-top-left-radius: calc(1.05rem - 1px);
    border-top-right-radius: calc(1.05rem - 1px);
}
.card-header {
    padding: 1.25rem 1.25rem!important;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    color: #64728c;
    border-color: #e8eaef!important;
    /* border-bottom: none;*/
    background-color: #fff;
}
.card
{
	border-radius: calc(1.15rem - 1px)!important;
	border:none!important;
	-webkit-box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.10);
    box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.10);
}

.card-header:first-child
{
	border-radius: calc(1.15rem - 1px) calc(1.15rem - 1px) 0 0!important;
}

.list-group-item.active {
    z-index: 2;
    color: #38455d;
    background-color: transparent;
    font-weight: 800;

}
.list-group-item
{
	border-color: rgba(207, 211, 222, 0.18)!important;
}
.title-row
{
	padding: 10px;
	padding-top: 25px;
	font-weight: 700;
}
.discription-p
{
	font-size: 12px;
}
.color-box
{
	width: 100%;
	margin: 0px;
	margin-top: 10px;
	border-radius: 1.25rem;
	/*background-color: rgba(207, 211, 222, 0.18);*/
	margin: auto;
	text-align: center;
	height: 165px;
	padding: 5px;
    padding-bottom: 10px;
	-webkit-box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.21);
    box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.21);
}
.color-bar
{
	width: 200px;
	height: 80px!important;
	padding-top: 30px;
	margin: 0px;
	margin-top: 10px;
	border-radius: 16.25rem;
	/*background-color: rgba(207, 211, 222, 0.18);*/
	margin: auto;
	text-align: center;
	padding: 5px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.21);
    box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.21);
}

.elemetnt-card
{
	color: #fff;
	height: 250px;
	overflow: hidden;
	padding: 10px;
}

.color-circle
{
	width: 90px;
	height: 90px;
	background-color: gray;
	margin: auto;
	border-radius: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
    -webkit-box-shadow: 0px 5px 15px -8px rgb(0 0 0 / 58%);
    box-shadow: 0px 5px 15px -8px rgb(0 0 0 / 58%);

}

.bx
{
	width: 160px!important;
	max-width: 160px!important;
	flex: none!important;
	display: block!important;
}

.code-box
{
	margin: 10px;
	/* width: 100%;*/
	min-height: 100px;
	border-radius: 15px;
	overflow: hidden;
	background-color: #f0f2f5;
}

code
{
	font-size: 10px!important;
	font-weight: 600;
}

.submenu
{
	font-size: 13px;
	font-weight: 500;
	color: #64728c!important;
	text-align: center;
}

.clx
{
	text-align: center!important;
	margin-top: -18px!important;

}
.subtitle
{
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	color: #64728c;

}
.input-satus
{
	font-size: 14px;
	font-weight: 600;
	text-align: left;
	color: #64728c;
	display: block;
	margin-top: 48px;
	margin-left: 10px;
}

.clc
{
	margin-top: 25px;
}

.icon-box
{
   border-radius: 1.34rem;
   width: 100%;
   text-align: center;
   border: 1px solid rgba( 0 , 0 , 0, 0.04);
   height: 150px;
   -webkit-box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.21);
   box-shadow: 0px 5px 15px -8px rgba(0,0,0,0.21);
}

.icon-box img
{
	width: 80px;
	margin: auto;
	margin-top: 10px;
}
.icon-box h4
{
  
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    color: #38455d!important;
    font-weight: 600;
    font-size: 14px!important;

}



